*{
    margin: 0;
    padding: 0;
    font-family: 'oswald';
}



h1{
    color: black;
    font-family: 'poppins';
    font-size: 20px;
    padding-left: 10px;
}
.icon{
    vertical-align: middle;
    margin-right: 5px;
    margin-top: 6px;
}
.icon svg{
    fill: black;
}
nav{
    height: 60px;
    background-color: #9ACD32;
    display: flex; /**/
    justify-content: flex-end; /* will align links at the end of nav bar*/
    align-items: center; /*will center everything vertically*/
}
.links-container{
    height: 100%; 
    width: 100%; /*height and width are 100% to fill out the entire nav bar*/
    display: flex;
    flex-direction: row;
    align-items: center;
}
nav a{
    height: 100%;
    padding: 0 20px;
    display: flex;
    align-items: center;
    text-decoration: none;
    color: black;
    font-family: 'oswald';
}
nav a:hover{
    background-color: green;

}
nav .login{
    margin-left: auto;
}
li{
    list-style: none;
}

.dropdown /*hidden dropdown*/{
    display: none;
    position: absolute;
    background-color: #9ACD32;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
    z-index: 1; 
}

.dropdown li {
    width: 200px;
    height: 50px;
    padding: 0px;
}

.dropdown li a /*the list items */{
    display: block;
    text-decoration: none;
    color: black; 
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: start;
}

.dropdown li a:hover /*hover to the elements*/{
    background-color: green;
}

.nav:nth-of-type(2):hover + .dropdown, .dropdown:hover /*hover on categories*/{
    display: block;
}

.links-container/*make dropdown relative*/ {
    position: relative; 
}
.dropdown /*positioning*/{
    top: 100%;
    left: 103px; 
    width: 200px; 
}
nav svg{
    fill: black;
}

#sidebar-active{
    display: none; /*to only display the elements in the mobile version*/
}
.open-sidebar-button,.close-sidebar-button{
    display: none; /*same for the open and close sidebar buttons*/
}

.box{
    display: flex;
    width: 100%;
    background: white;
    margin-top: 6px;
}
.box .search-box{
    position:relative;
    height: 45px;
    max-width: 350px;
    background: transparent;
    margin: auto;
    border-radius: 25px;
}

.search-box input{
    height: 100%;
    width: 400px;
    border-radius: 100px;
    background: lightgrey;
    outline: solid;
    outline-color: darkgrey;
    border: none;
    padding-left: 20px;
    font-size: 18px;   
}
.search-box .icon{
    position: absolute;
    right: 0;
    top: 0;
    margin-top: 0px;
    margin-right: -70px;
    width: 45px;
    height: 100%;
    background-color: green;
    text-align: center;
    line-height: 55px;
    border-radius: 25px;
}
.search-box .icon svg{
    fill: white;
}
#check{
    display: none;
}


.favourites{
    display: flex;
    border: none;
    background: none;
    align-items: center;
    margin-right: 20px;
}
.order svg{
    display: flex;
    background: none;
    align-items: center;
    margin-right: 20px;
    margin-top: 10px;
}






.banner {
    width: 100%;
    margin-top: 7px;
}
.locations-header{
    text-align: center;
    font-size: 30px;
    padding-top: 10px;
}
.locations-wrapper{
    width: 100%;
    height: 75vh;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-bottom: 35px;
}
.locations-container{
    height: 400px;
    display: flex;
    flex-wrap: nowrap;
    justify-content: start;
}
.card{
    width: 100px;
    border-radius: 0.75rem;
    background-size: cover;
    cursor: pointer;
    overflow: hidden;
    border-radius: 2rem;
    margin: 0 10px;
    display: flex;
    align-items: flex-end;
    transition: 1s cubic-bezier(.28,-0.03,0,.99);
    box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.5);
}
.card > .row{
    color: white;
    display: flex;
    flex-wrap: nowrap;
}
.card > .row > .icon {
    background: white;
    color: black;
    border-radius: 50%;
    width: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 15px;
}
.card > .row > .description{
    display: flex;
    justify-content: center;
    flex-direction: column;
    overflow: hidden;
    height: 100px;
    width: 520px;
    opacity: 0;
    transform: translateY(30px);
    transition-delay: 1s;
    transition:all .1s ease;
}
.description p{
    color: white;
    padding-top: 5px;
    padding-bottom: 30px;
    padding-right: 7px;
    text-shadow: 4px 4px 8px #000000;
}
.description h4{
    text-transform: uppercase;
}
.location{
    display: none;
}
.location:checked + label{
    width: 600px;
}
.location:checked + label .description{
    opacity: 1 !important;
    transform: translateY(0) !important;
}
.card[for="c1"]{
    background-image: url(./Assets/Imgs%20-%20Vegetables%20Page/farm-4.jpg);
    background-size: cover;
}
.card[for="c2"]{
    background-image: url(./Assets/Imgs%20-%20Vegetables%20Page/farm-2.jpg);
    background-size: cover;
}
.card[for="c3"]{
    background-image: url(./Assets/Imgs%20-%20Vegetables%20Page/farm-3.jpg);
    background-size: cover;
}
.card[for="c4"]{
    background-image: url(./Assets/Imgs%20-%20Vegetables%20Page/farm-1.jpg);
    background-size: cover;
}



.text-1{
    text-align: center;
}

.grid-container {
    display: grid;
    align-content: center;
    grid-template-columns: repeat(auto-fit,minmax(200px,2fr));
    place-content: center;
    white-space: nowrap;
    overflow: none;
    /*grid-template-rows: repeat(5, 1fr);*/
    gap: 25px; /* Adjust the gap between grid items */
    padding: 30px; /* Adjust padding as needed */
}
.grid-container::-webkit-scrollbar{
    display: none;
}

.grid-item {
    border: solid 1px;
    display: flex;
    flex-direction: column;
    text-align: center;
    width:200px;
    border-radius: 3%;
    padding: 20px;
    background-color: white;
}
.grid-item:hover{
    transform: scale(1.02);
    box-shadow: 0;
}
.grid-wrapper{
    background-color: #9ACD32;
    padding-top: 15px;
}
.grid-header{
    text-align: center;
    font-size: 50px;
}
.grid-item img{
    width: 200px;
    height: 180px;
    justify-content: center;
}
.grid-item p{
    padding: 10px;
}
.grid-item button{
    justify-content: center;
    background: none;
    border: none;
    padding: 15px;
}
.grid-item button:hover{
    margin-left: 73px;
    width: 55px;
    justify-content: center;
    background: greenyellow;
    border-radius: 30px;
    padding: 15px;
}
.grid-item svg{
    color: white;
}
.grid-container-2 {
    display: grid;
    grid-template-columns: repeat(10, 1fr);
    white-space: nowrap;
    /*grid-template-rows: repeat(5, 1fr);*/
    gap: 10px; /* Adjust the gap between grid items */
    padding: px; /* Adjust padding as needed */
}
footer{
    background-color: #9ACD32;
}
.footer-container{
    width: 100%;
}
.social-icons{
    display: flex;
    justify-content: center;
}
.social-icons a {
    text-decoration: none;
    padding-top: 30px ;
    margin-left: 30px;
}
.social-icons a i{
    background-color: #9ACD32;
}
.footer-nav ol{
    display: flex;
    justify-content: center;
    padding: 20px;
}
.footer-nav ol li{
    text-decoration: none;
    padding: 20px;
}
.footer-nav ol li a{
    text-decoration: none;
    color: black;
}
.footer-bottom{
    display: flex;
    justify-content: center;
    padding-bottom: 10px;
}
.footer-links{
    list-style: none;
}


@media(max-width: 750px){
    .links-container{
        flex-direction: column;
        align-items: flex-start; /*to align items on the left side*/

        position: fixed;
        top: 0;
        right: -500px;
        z-index: 10; /* to make sure it is above everything else*/
        width: 300px;

        background-color: #9ACD32;
        box-shadow: -2px 0 2px gray;
        transition: 0.75s ease-out;
    }
    nav a{
        box-sizing: border-box;
        height: auto;
        width: 100%;
        padding: 20px 30px;
        justify-content: flex-start;
    }
    .open-sidebar-button,.close-sidebar-button{
        display: block; 
        padding: 20px;
    }
    
    #sidebar-active:checked ~ .links-container{   /* '~' is called the sibling selector*/
        right: 0;
    }

    #sidebar-active:checked ~ #overlay{
        height: 100%;
        width: 100%;
        position: fixed;
        top: 0;
        left: 0;
        z-index: 9;
    }
    
    .dropdown /*hidden dropdown*/{
        display: none;
        position: absolute;
        background-color: #9ACD32;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); 
        z-index: 1; 
    }

    .dropdown li {
        width: 200px;
        height: 50px;
        padding: 0px;
    }

    .dropdown li a {
        display: block;
        text-decoration: none;
        color: black;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: start;
    }

    .dropdown li a:hover /*hover to the elements*/{
        background-color: green;
    }

    .nav:nth-of-type(2):hover + .dropdown, .dropdown:hover /*hover on categories*/{
        display: block;
    }
    .dropdown /*positioning*/{
        top: 36%;
        left: 103px; 
        width: 200px; 
    }
    nav svg{
        fill: black;
    }

    .box{
        display: flex;
        justify-content: flex-end;
    }
    .search-box .icon svg{
        fill: black;
    }
    .box .search-box{
        max-width: 50px;
        transition: all 0.3s;
        position:relative;
        background-color: none;
        border-radius: 25px;
        margin: 0;
        margin-right: 7px;
    }
    .search-box input{
        width: 100%;
        
        opacity: 0;
        padding-left:10px;
    }


    #check:checked ~ .search-box>input{
        opacity:1;
        width: fit-content;
    }

    #check:checked ~ .search-box{
        max-width: 200px;
    }
    .search-box .icon{
        position: absolute;
        right: 24px;
        top: 0;
        margin-top: 0px;
        margin-right: -24px;
        width: 48px;
        height: 100%;
        background: none;
        text-align: center;
        line-height: 55px;
        border-radius: 25px;
    }
    #check:checked ~ .search-box .icon{
        background: green;
        border-radius: 0 25px 25px 0;
    }
    #check:checked ~ .search-box .icon svg{
        fill: white;
    }
    #check{
        display: none;
    }
    .footer-container{
        padding: 0px 0px 0px;
    }
    .social-icons a {
        text-decoration: none;
        margin-left: 15px;
    }
    .footer-nav ol{
        display: flex;
        flex-direction: column;
        justify-content: center;
        padding: 0px;
    }
    .footer-nav ol li{
        text-align: center;
        text-decoration: none;
        padding: 5px;
    }
    .footer-bottom{
        display: flex;
        justify-content: center;
        padding-bottom: 10px;
    }
}
@media(max-width: 1000px){
    .locations-header{
        text-align: center;
        font-size: 20px;
        padding: 10px;
        padding-bottom: 15px;
    }
    .locations-wrapper{
        width: 100%;
        height: 100%;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    .locations-container{
        height: 600px;
        display: flex;
        flex-direction: column;
        flex-wrap: nowrap;
        justify-content: start;
        row-gap: 15px;
    }
    .card{
        width: 280px;
        border-radius: 0.75rem;
        background-size: cover;
        cursor: pointer;
        overflow: hidden;
        border-radius: 2rem;
        display: flex;
        align-items: start;
        transition: 1s cubic-bezier(.28,-0.03,0,.99);
        box-shadow: 0px 10px 30px -5px rgba(0, 0, 0, 0.5);
    }
    .card > .row{
        color: white;
        display: flex;
        flex-wrap: nowrap;
    }
    .card > .row > .icon {
        background: white;
        color: black;
        border-radius: 50%;
        width: 70px;
        display: flex;
        justify-content: center;
        align-items: center;
        margin: 15px;
    }
    .card > .row > .description{
        display: flex;
        justify-content: center;
        flex-direction: column;
        overflow: hidden;
        height: 100px;
        width: 170px;
        opacity: 0;
        transform: translateY(30px);
        transition-delay: 1s;
        transition:all .1s ease;
    }
    .description p{
        color: white;
        padding-top: 5px;
        padding-bottom: 30px;
        padding-right: 7px;
        text-shadow: 4px 4px 8px #000000;
    }
    .description h4{
        text-transform: uppercase;
    }
    .location{
        display: none;
    }
    .location:checked + label{
        width: 280px;
        height: 250px;
    }
    .location:checked + label .description{
        height: 200px;
        opacity: 1 !important;
        transform: translateY(5px) !important;
    }
    .location:checked + label .icon{
        height: 70px;
        justify-content: center;

    }
}
@media(max-width: 474px){
    .grid-wrapper{
        display: grid;
        place-content: center;
    }
}